html {
    background: #cccccc;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 12pt;
}
input, textarea, select, option, button {
    font-family: sans-serif;
    font-size: 12pt;
}
div#container {
    max-width: 35em;
    margin: auto;
    background: #ffffff;
    padding: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px #000000;
}
div#body {
    padding: 1em;
}

header {
    margin: 0;
    padding: 0 .5em;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    background: #000000;
    color: #aaaaaa;
    font-size: 18pt;
}
header h1, header h2 {
    display: inline;
    margin: 0;
    padding: 0 1em 0 0;
}
header h1 {
    font-size: 18pt;
}
header h2 {
    font-size: 14pt;
    font-style: italic;
    color: #dddddd;
}

ul.tasks {
    padding: 0;
    margin: 0;
    list-style: none;
}

li.task {
    clear: both;
    background: #ffffff;
    padding: 4px;
}

li.task:nth-child(odd) {
    background: #f8f8f8;
}

a.update {
    cursor: pointer;
}

form.new-task input {
    margin-top: .5em;
    width: 100%;
}

form.remove {
    display: inline;
    float: right;
}

form.remove button {
    padding: 1px 2px;
    font-size: 7pt;
}

form.update, form.update input {
    width: 100%;
}